body{
    background-color:black
    }
    
    
     h1{
    color: red;
    font-family: green;
    background: ;
    }
    
 
    p{
    color: black;
    font-family: ;
    font-size: ;
    background: ;
    }
