body{
    background-color:black
    }
    
    
     h1{
    color: red;
    font-family: white;
    background: ;
    }
    
 
    p{
    color:pink;
    font-35px: ;
    font-size: ;
    background: ;
    }
